<% content_for :head do %>
  <script src="http://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    var pusher = new Pusher("<%= ENV['PUSHER_KEY'] %>");
    var channel = pusher.subscribe('songs');
    channel.bind('next', function(data) {
      location.reload();
    });
  </script>
<% end %>

<script src="http://www.youtube.com/player_api"></script>

<script>

    // create youtube player
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '<%= @current.try(:youtube_id) %>',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
    }

    // autoplay video
    function onPlayerReady(event) {
      event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {
        if(event.data === 0) {
          location.reload();
        }
    }
</script>


<% if @current.nil? %>
  <% content_for :head do %>
    <script type="text/javascript">
      var pusher = new Pusher("<%= ENV['PUSHER_KEY'] %>");
      var channel = pusher.subscribe('songs');
      channel.bind('new', function(data) {
        location.reload();
      });
    </script>
  <% end %>
  No queued songs
<% else %>
  <div id="player"></div>
<% end %>
